@import 'utility';
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-image: url(../../public/images/brick.jpg);
  font-family: Montserrat;
  color: white;
  text-shadow: 2px 2px #ff0000;
}
header {
  background-color: #535559;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePhotos {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.noviceResources {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 75px;
  text-align: center;
}
.resultsButtons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.resultsAndTips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.socialMedia {
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  border-radius: 2em;
}
.experiencedMain {
  padding-left: 20px;
}
.experiencedIntro {
  display: flex;
  justify-content: center;
  text-align: center;
}
.experiencedResultsIntro {
  background-color: #535559;
  display: flex;
  justify-content: center;
  align-items: center;
}
.openScoresInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.openScore {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 1em;
  //border: 1px solid white;
}
.171textBox {
  justify-content: center;
  align-items: center;
}
.workoutButtons {
  display: flex;
  flex-direction: row;
}
.backArrow {
  padding-right: 50px;
}
.backButton {
  color: red;
  border: none;
  background-color: transparent;
}
.forwardButton {
  color: red;
  border: none;
  background-color: transparent;
}
.forwardArrow {
  padding-left: 50px;
}
.angryBrad {
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
  padding-top: 50px;
}
.171image {
  padding-left: 4px;
}
.novicemain {
//  background-image: url(../../public/images/kettlebell.jpg);
//  background-position: center;
//  background-size: contain;
//  background-repeat: no-repeat;
}
.homeIntroText {
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
}
.noviceIntro {
  text-align: center;
  background-color: #32363d;
  display: flex;
  justify-content: center;
}
.error {
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
  padding-top: 50px;
}
.mobility {
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
  padding-top: 50px;
}
.cf813 {
  //text-align: justify;
  padding-top: 20px
}
.camp {
  //text-align: center;
}
.experiencedAthlete{
  color: white;
  text-shadow: 2px 2px #ff0000;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  //display: flex;
  //justify-content: space-between;
  text-align: center;
}
.whatIsCrossfit {
  display: flex;
  justify-content: center;
}
.noviceAthlete{
  color: white;
  text-shadow: 2px 2px #ff0000;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  //display: flex;
  //justify-content: space-between;
  text-align: center;
}
.submitButtons {
  display: flex;
  justify-content: space-between;
  padding-left: 250px;
  padding-right: 250px;
}
.gamesLogo {
  padding-bottom: 5px;
}
.cfLogo {
  padding-bottom: 5px;
}
.cigarLogo {

}
footer {
  margin: 1em;
  align-items: center;
  color: white;
  text-shadow: 2px 2px #ff0000;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // width: 100%;
  text-align: center;
}
