@import 'utility';
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-image: url(../../public/images/brick.jpg);
  font-family: Montserrat;
  color: white;
  text-shadow: 2px 2px #ff0000;
}
.angrybrad {
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
  padding-top: 50px;
}
.novicemain {
  background-image: url(../../public/images/kettlebell.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.introtext {
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
  padding-top: 50px;
}
.noviceIntro {
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
  padding-top: 50px;
}
.error {
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
  padding-top: 50px;
}
.mobility {
  color: white;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
  padding-top: 50px;
}
.bellaprana {
  padding-top: 20px;
}
.cf813 {
  text-align: center;
}
.camp {
  text-align: center;
}
.experiencedAthlete{
  color: white;
  text-shadow: 2px 2px #ff0000;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  //display: flex;
  //justify-content: space-between;
  text-align: center;
}
.noviceAthlete{
  color: white;
  text-shadow: 2px 2px #ff0000;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  //display: flex;
  //justify-content: space-between;
  text-align: center;
}
.submitButtons {
  display: flex;
  justify-content: space-between;
  padding-left: 250px;
  padding-right: 250px;
}
.gamesLogo {
  padding-bottom: 5px;
}
.cfLogo {
  padding-bottom: 5px;
}
.cigarLogo {
  padding-top: 50px;
  text-align: center;
}
footer {
  align-items: center;
  color: white;
  text-shadow: 2px 2px #ff0000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
